.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products-provides-service div {
    font-size: 1em;
    font-style: italic;
}

.products-provides {
    display: flex;
    flex-wrap: wrap;
}

.products-provides div {
    font-size: 1em;
    font-style: italic;
    padding: 2px 20px 2px 2px;
}
.menu-item span{
    cursor: text !important;
}